

<template id="autoCompleteApp">
    <div class="form-group">
        <label>Enter a Term</label>
        <input v-model="this.userInput.input"
               :placeholder="userInputPlaceholderMessage"
               type="text"
               class="form-control" />
    </div>
    <div v-if="this.validUserInput">
        <hr />
        <p>

            <div v-if="this.loading">
                I'm searching for query <strong>{{userInput.input}}</strong> -
                Please wait!
            </div>

            <div v-if="this.displayDropdwon">
                <div v-if="this.fetchedItems.length > 0">
                    <ul class="list-group-item">
                        <li class="list-group-item"
                            v-for="item in this.fetchedItems"
                            @@click="itemSelected(item)">
                            {{item[this.itemDisplayProperty]}}
                        </li>
                    </ul>
                </div>
                <div v-else>No Data {{this.itemDisplayProperty}}</div>
            </div>
        </p>
    </div>
</template>
