@page
@model SmartQuery.Web.Pages.Entries.CreateModel
@{
}
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <strong>
                    <label asp-for="@Model.Data.Name"></label>
                </strong>
                <div class="d-flex">
                    <input type="text" autocomplete="off" class="form-control" asp-for="@Model.Data.Name" />
                <fill-in id="name-check">
                    <slot name="test">aaaaaaaaaaaa</slot>
                </fill-in>
                </div>
            </div>
            <div class="form-group">
                <strong>
                    <label asp-for="@Model.Data.Description"></label>
                </strong>
                <textarea 
                    class="form-control" asp-for="@Model.Data.Description">
                </textarea>
            </div>
       
            <div class="form-group">
                <input id="submit-button" disabled="disabled" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Stylesheets {
    <style>
        .tt-suggestion {
            background: white;
            border-bottom:1px solid #ccc;
            width:100%;padding:2px;
            min-width:200px;
        }
    </style>
}
@section Scripts {
    <script src="/js/components/fill-in.js"></script>
    <script>
        
        let el = document.getElementById("name-check");

        document.getElementById("Data_Name").addEventListener("blur",function(e) {
            let attribute = el.getAttribute("query") ?? "";
            document.getElementById("name-check").setAttribute("query",this.value);
        });
        document.addEventListener("FillInChecked",(e)=>{
            //console.log(e.detail);
            if(e.detail) {
                document.getElementById("submit-button").setAttribute("disabled","disabled");
            }
            else {
                document.getElementById("submit-button").removeAttribute("disabled");
            }
        })
    </script>
    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

   
}