<div id="query-builder">
    <div></div>
    <auto-suggest input-placeholder="Enter Query item here..." display-property="name" data-url="/Entries/Api/ListByName?Query="></auto-suggest>
    <div style="display:flex;align-items:center">
        <p></p>
        Current Query:
        <ul id="items" class="list-group list-group-horizontal">
        </ul>
    </div>
    <hr />
    <form asp-page="/Entries/Search" method="get">
        <input id="search-input" type="hidden" name="query" />
        <p>
            <label>Mode</label>
            <select class="form-control" name="mode">
                <option selected value="2">And</option>
                <option value="1">Or</option>
            </select>
        </p>
        <button style="width:100%" class="btn btn-primary">Search</button>
    </form>
</div>
<script src="/js/components/auto-suggest.js"></script>
<script>
    let alreadySelected = [];
    document.addEventListener("AutoSuggestionItemSelected",function(e){
        if(!alreadySelected.includes(e.detail.name.toLowerCase())) {
        alreadySelected.push(e.detail.name.toLowerCase());
        let liEl = document.createElement("li");
        liEl.classList.add("list-group-item");
        liEl.innerHTML = e.detail.name;

        document.querySelector("#query-builder #items").appendChild(liEl);
        document.querySelector("#query-builder #search-input").setAttribute("value",alreadySelected.join(","));
        }
    });
</script>